@import "../../styles/theme";

.info_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  & > * {
    max-width: 1200px;
  }
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;

  & .title {
    text-align: center;
  }

  & .content_container {
    padding-inline: 20px;
    text-align: justify;
  }

  & .image {
    display: none;
  }
}

.discover_container {
  padding-block: 40px;
  background-color: $grey-50;

  & .title,
  .subtitle {
    padding-left: 20px;
  }
}

.discover_grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 30px;
  row-gap: 20px;
  padding-left: 50px;
  padding-right: 20px;
  text-align: left;

  & ul {
    list-style: outside;
    color: $primary;
  }

  & li {
    margin-block: 10px;
  }

  & ul ul {
    padding-left: 25px;
  }

  & a {
    width: fit-content;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $tablet) {
  .page_container {
    margin-top: 80px;
  }
  .info_container {
    margin-top: 50px;
    margin-bottom: 100px;
    padding-inline: 5%;
    gap: 150px;
  }

  .container {
    gap: 40px;
    flex-direction: row;
    align-items: center;
    & .title {
      text-align: left;
    }
    & .image {
      display: block;
      height: 340px;
      width: auto;
    }
  }

  .discover_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .discover_grid {
    padding-top: 20px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 800px;
  }

  .title,
  .subtitle {
    max-width: 70%;
  }
}
