@import "../../styles/theme";
.container {
  text-align: center;
  margin-block: 50px;

  & button {
    margin-top: 20px;
  }
}

.text {
  & > :not(:last-child) {
    margin-bottom: 10px;
  }

  margin-bottom: 30px;
}

.card_container {
  margin-inline: 30px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > img {
    margin-bottom: 20px;
  }
}

.image {
  padding-inline: 30px;
  height: auto;
  width: 100%;
  // aspect-ratio: 1;
  max-width: 250px;
  object-fit: cover;
}

@media screen and (min-width: $mobile) {
  .card_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 10%;
  }

  .card {
    max-width: 280px;
  }
}
@media screen and (min-width: $tablet) {
  .card_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-inline: 0px;
  }

  .card {
    max-width: none;
  }
}

@media screen and (min-width: $laptop) {
  .card_container {
    padding-inline: 10%;
  }

  .card {
    max-width: none;
  }
}
