@import "../../styles/theme";

.container {
  margin-block: 30px;
  display: flex;
  flex-direction: column;
}

.text {
  text-align: center;
  padding: 20px;

  & > :last-child {
    padding-inline: 10px;
  }
}

.image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: $mobile) {
  .grid {
    margin-inline: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 20px;

    &__item {
      max-width: 250px;
      text-align: center;
    }
  }
}

@media screen and (min-width: $mobile) {
  .container {
    gap: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-inline: 20px;

    &__item {
      max-width: 250px;
      text-align: center;
    }
  }
}
@media screen and (min-width: $laptop) {
  .grid {
    margin-inline: 100px;
  }
}
