@import "../../styles/theme";

$chart-size: 200px;

.percentage {
  font-size: $font-title;
  font-weight: 600;
}

.section {
  @media (min-width: $tablet) {
    padding-inline: 100px;
  }
  margin-block: 50px;
  margin-inline: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  &_container {
    display: flex;
    gap: 50px;
    @media (max-width: $tablet) {
      gap: 0px;
      flex-direction: column;
      &:nth-child(2) {
        flex-direction: column-reverse;
      }
    }
    align-items: center;
  }
}

.text {
  &_title {
    margin-bottom: 20px;
    font-weight: 500;
  }
}

.list {
  list-style: outside;
  color: $primary;
  & > :not(:last-child) {
    margin-bottom: 20px;
  }
}
.pie_one {
  background: conic-gradient($grey-50 0% 23%, $primary 23% 100%);
  border-radius: 50%;
  min-width: $chart-size;
  min-height: $chart-size;
  transform: rotate(-70.5deg);
  margin-bottom: 25px;
}

.pie_two {
  background: conic-gradient($grey-50 0% 10%, $secondary 10% 100%);
  border-radius: 50%;
  min-width: $chart-size;
  min-height: $chart-size;
  transform: rotate(-30deg);
  margin-bottom: 25px;
}
