@import "../../styles/theme";

.section_container {
  padding-top: 40px;
}

.title_container {
  position: relative;
}

.title {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 100;
  transform: translateY(-50%);
  line-height: 1;
}

@media screen and (max-width: $tablet) {
  .image {
    display: none;
  }

  .container {
    background-color: $grey-50;
    padding-block: 25px;
    padding-inline: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    margin-bottom: 100px;
    position: relative;
    padding-left: 500px;
    background-color: $grey-50;
    padding-block: 50px;
  }

  .content {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .image {
    position: absolute;
    left: 50px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 380px;
    width: 380px;
    border-radius: 50%;
    object-fit: cover;
  }
}
