@import "../../styles/theme";

.sections_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media screen and (min-width: $tablet) {
  .sections_container {
    margin-bottom: 150px;
    margin-top: 180px;
    gap: 100px;
  }
}
