@import "../../../styles/theme";

.container {
  // padding-inline: 100px;
  padding-top: 30px;
  display: flex;
  align-items: center;

  flex-direction: column-reverse;

  justify-content: center;
  gap: 20px;
}

.paragraph {
  max-width: 1000px;
  text-align: center;
  & .title {
    margin-bottom: 25px;
  }

  & .content_container {
    text-align: justify;
    padding-inline: 25px;
    & :not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.image_container {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 220px;
    height: 220px;

    bottom: 10px;
    border-radius: 50%;
    background-color: $grey-50;

    left: 50%;
    transform: translateX(-50%);
  }
}

.image {
  position: relative;
  width: auto;
  height: 200px;
}
