@import "../../../styles/theme";
.container {
  background-color: $grey-50;
  text-align: center;
  padding-block: 50px;

  & .content {
    text-align: justify;
    padding-inline: 25px;
  }

  & :not(:last-child) {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      max-width: 1000px;
      flex: 1;
    }
  }
}
