@import "../../../styles/theme";
.container {
  background-color: $grey-50;
  text-align: center;
  padding-block: 50px;
  // padding-inline: 100px;

  & .content {
    text-align: justify;
    padding-inline: 25px;
  }

  & :not(:last-child) {
    padding-bottom: 20px;
  }
}
