@import "../../../styles/theme";
.container {
  // padding-inline: 100px;
  padding-inline: 35px;
  // padding-right: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-block: 60px;
}

.title_container {
  text-align: center;
  & :not(:last-child) {
    margin-bottom: 0px;
  }
  margin-bottom: 40px;
}

.text_container {
  max-width: 1000px;
  text-align: justify;
}

.image_container {
  display: none;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 20px;
    right: -50%;
    border-radius: 50%;
    background-color: $grey-50;
  }
}

.image {
  position: relative;
  width: 350px;
  height: auto;
  border-radius: 50%;
}
