@import "../../../styles/theme";
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.paragraph {
  max-width: 1000px;
  padding-inline: 20px;

  & .content_container {
    margin-top: 10px;
    text-align: justify;
    & :not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.image_container {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;

    bottom: -20px;
    // bottom: -80px; Desktop
    border-radius: 50%;
    background-color: $grey-50;

    left: 50%;
    transform: translateX(-50%);
  }
}

.image {
  position: relative;
  width: auto;
  height: 200px;
}

.subtitle {
  font-weight: 500;
}

@media screen and (min-width: $tablet) {
  .container {
    padding-inline: 100px;
    gap: 50px;
    flex-direction: row;
  }

  .paragraph {
    text-align: left;

    & .content_container {
      margin-top: 20px;
      padding-left: 50px;
    }
  }

  .image {
    height: 300px;
  }

  .image_container {
    &::before {
      width: 250px;
      height: 250px;
    }
  }
}
