@import "../../../styles/theme";
.container {
  // padding-inline: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  // gap: 100px;
  gap: 50px;
}
.paragraph {
  text-align: center;
  max-width: 1000px;

  & .content_container {
    margin-top: 20px;
    padding-inline: 20px;
    text-align: justify;
    & :not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
.image_container {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;

    bottom: -20px;
    // bottom: -80px; Desktop
    border-radius: 50%;
    background-color: $grey-50;

    left: 50%;
    transform: translateX(-50%);
  }
}

.image {
  position: relative;
  width: auto;
  height: 200px;
}
