@import "../../../styles/theme";

.container {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // padding-inline: 15%;
  row-gap: 40px;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.item {
  & img {
    max-width: 100px;
    height: auto;
  }

  & .text {
    max-width: 200px;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: 15%;
  }

  .item {
    & .text {
      max-width: 300px;
    }
  }
}
