@import "../../../styles/theme";

.container {
  margin-top: 80px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 20px;
  gap: 40px;
}

.form {
  width: 100%;
  background-color: $grey-50;
  position: relative;
  padding: 20px 20px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    z-index: 10;
    position: absolute;
    top: 0;
    line-height: 1;
    width: 100%;
    transform: translateY(-50%);
  }
}

.text_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (min-width: $tablet) {
  .container {
    flex-direction: row;
    justify-content: center;
    gap: 120px;
  }

  .text_container {
    text-align: left;
    max-width: 500px;
  }
}
