// palette
$primary: #213589;
$primary-light: #40b0df;
$primary-contrast: white;

$secondary: #ffd53d;
$secondary-contrast: $primary;

$grey-50: #f1f2f6;
$grey-100: #e6e6e8;

//font

$font-button: 17px;
$font-button--large: 24px;
$font-button--small: 15px;

$font-text-field: 15px;
$font-text-field--large: 24px;
$font-text-field--small: 15px;

//Global vars
$appbar-height: 80px;
